@import 'tailwindcss';
@import 'tw-animate-css';
@import './responsive.css';

* {
    margin: 0;
    box-sizing: border-box;
}

body {
    min-width: 320px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: black;
    color: #000;
    -webkit-font-smoothing: antialiased;
    font-size: 16px;
    margin-left: 15px;
}
/* Toàn bộ scrollbar */
::-webkit-scrollbar {
    width: 12px;
    /* padding: 2px; */
}

/* Track (nền của scrollbar) */
::-webkit-scrollbar-track {
    background: #373535;
}

/* Handle (thanh scroll) */
::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 50px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

@custom-variant dark (&:is(.dark *));

@theme inline {
    --radius-sm: calc(var(--radius) - 4px);
    --radius-md: calc(var(--radius) - 2px);
    --radius-lg: var(--radius);
    --radius-xl: calc(var(--radius) + 4px);
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --color-card: var(--card);
    --color-card-foreground: var(--card-foreground);
    --color-popover: var(--popover);
    --color-popover-foreground: var(--popover-foreground);
    --color-primary: var(--primary);
    --color-primary-foreground: var(--primary-foreground);
    --color-secondary: var(--secondary);
    --color-secondary-foreground: var(--secondary-foreground);
    --color-muted: var(--muted);
    --color-muted-foreground: var(--muted-foreground);
    --color-accent: var(--accent);
    --color-accent-foreground: var(--accent-foreground);
    --color-destructive: var(--destructive);
    --color-border: var(--border);
    --color-input: var(--input);
    --color-ring: var(--ring);
    --color-chart-1: var(--chart-1);
    --color-chart-2: var(--chart-2);
    --color-chart-3: var(--chart-3);
    --color-chart-4: var(--chart-4);
    --color-chart-5: var(--chart-5);
    --color-sidebar: var(--sidebar);
    --color-sidebar-foreground: var(--sidebar-foreground);
    --color-sidebar-primary: var(--sidebar-primary);
    --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
    --color-sidebar-accent: var(--sidebar-accent);
    --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
    --color-sidebar-border: var(--sidebar-border);
    --color-sidebar-ring: var(--sidebar-ring);
}

@font-face {
    font-family: 'Clash Grotesk';
    src:
        url('/fonts/ClashGrotesk-Medium.woff2') format('woff2'),
        url('/fonts/ClashGrotesk-Medium.woff') format('woff'),
        url('/fonts/ClashGrotesk-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Clash Grotesk';
    src:
        url('/fonts/ClashGrotesk-Semibold.woff2') format('woff2'),
        url('/fonts/ClashGrotesk-Semibold.woff') format('woff'),
        url('/fonts/ClashGrotesk-Semibold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Clash Grotesk';
    src:
        url('/fonts/ClashGrotesk-Bold.woff2') format('woff2'),
        url('/fonts/ClashGrotesk-Bold.woff') format('woff'),
        url('/fonts/ClashGrotesk-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Clash Grotesk';
    src:
        url('/fonts/ClashGrotesk-Regular.woff2') format('woff2'),
        url('/fonts/ClashGrotesk-Regular.woff') format('woff'),
        url('/fonts/ClashGrotesk-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'IBM Plex Sans';
    src: url('/fonts/IBMPlexSans-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

.dark {
    --background: oklch(0.145 0 0);
    --foreground: oklch(0.985 0 0);
    --card: oklch(0.205 0 0);
    --card-foreground: oklch(0.985 0 0);
    --popover: oklch(0.205 0 0);
    --popover-foreground: oklch(0.985 0 0);
    --primary: oklch(0.922 0 0);
    --primary-foreground: oklch(0.205 0 0);
    --secondary: oklch(0.269 0 0);
    --secondary-foreground: oklch(0.985 0 0);
    --muted: oklch(0.269 0 0);
    --muted-foreground: oklch(0.708 0 0);
    --accent: oklch(0.269 0 0);
    --accent-foreground: oklch(0.985 0 0);
    --destructive: oklch(0.704 0.191 22.216);
    --border: oklch(1 0 0 / 10%);
    --input: oklch(1 0 0 / 15%);
    --ring: oklch(0.556 0 0);
    --chart-1: oklch(0.488 0.243 264.376);
    --chart-2: oklch(0.696 0.17 162.48);
    --chart-3: oklch(0.769 0.188 70.08);
    --chart-4: oklch(0.627 0.265 303.9);
    --chart-5: oklch(0.645 0.246 16.439);
    --sidebar: oklch(0.205 0 0);
    --sidebar-foreground: oklch(0.985 0 0);
    --sidebar-primary: oklch(0.488 0.243 264.376);
    --sidebar-primary-foreground: oklch(0.985 0 0);
    --sidebar-accent: oklch(0.269 0 0);
    --sidebar-accent-foreground: oklch(0.985 0 0);
    --sidebar-border: oklch(1 0 0 / 10%);
    --sidebar-ring: oklch(0.556 0 0);
    --clr-sidebar-link: #95a7bc;
    --font-size-1: 16px;
    --clr-sidebar-ic: #4c5663;
    --clr-sidebar-ic-hover: #7c8c9e;
    --rgb-gray-1: 29, 35, 43;
    --rgb-gray-0: 24, 29, 35;
    --clr-section-heading: #101217;
}

.bg-sidebar-gradient {
    background-image: linear-gradient(175deg, rgb(29, 35, 43) 0%, rgba(24, 29, 35, 0.7) 85%);
}
.bg-sidebar-link-active {
    background-image: linear-gradient(95.67deg, rgb(53, 63, 73) 0%, rgba(53, 63, 73, 0) 92.54%);
}
.bg-panel-login {
    background-image: linear-gradient(94.5deg, rgba(29, 35, 43, 0.75) 0.19%, rgba(24, 29, 35, 0.563));
}

.shadow-glow {
    box-shadow:
        0 0 30px rgba(255, 223, 0, 0),
        0px 20px 50px rgba(0, 0, 0, 0.2),
        inset 1px 1px 3px hsla(0, 0%, 100%, 0.1);
}

.text-custom-gray {
    color: #96a7bc;
}

.bg-section-leftsidebar {
    background: #1c2129;
}

a {
    padding: 0.5rem 0;
    margin: 0.2rem 0;
    display: flex;
    color: var(--clr-sidebar-link);
    align-items: center;
    text-decoration: none;
    font-size: 16px;
    font-family: 'Clash Grotesk';
    font-weight: 500;
    transition: color 0.125s ease;
}
a:hover {
    color: white;
}

a.active {
    position: relative;
    padding-left: 15px;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    background-image: linear-gradient(95.67deg, rgb(53, 63, 73) 0%, rgba(53, 63, 73, 0) 92.54%);
    box-shadow: inset 1px 1px 2px rgba(255, 255, 255, 0.1);
    margin-left: -15px;
    color: white;
}

a svg {
    color: var(--clr-sidebar-ic);
    transition:
        color 0.125s ease,
        transform 0.125s ease;
}
a:hover svg {
    transform: translateX(-2px);
    color: var(--clr-sidebar-ic-hover);
}

a.active svg {
    color: var(--clr-sidebar-ic-hover);
}

.before-clip-animate::before {
    content: '';
    position: absolute;
    inset: 0;
    z-index: -1;
    background: var(--clr-brand, #fee333);
    clip-path: xywh(0 0 0 100% round 0 1px 2% 3px);
    transition: clip-path 0.3s ease;
    border-radius: 999px;
    display: block;
}

.before-clip-animate:hover::before {
    clip-path: xywh(0 0 100% 100% round 0 1px 2% 3px);
}

.button__border {
    --main-color-rgb: 255, 223, 0;
    --border-x: 24.7752px;
    --border-rotation: 0deg;

    pointer-events: none;
    border: 1px solid rgba(var(--main-color-rgb), 0.2);
    -webkit-mask:
        linear-gradient(#fff 0 0) padding-box,
        linear-gradient(#fff 0 0);
    -webkit-mask-composite: destination-out;
    mask-composite: exclude;

    background: conic-gradient(
            from calc(var(--border-rotation) - 80deg) at var(--border-x) 22px,
            rgba(var(--main-color-rgb), 0) 0,
            rgba(var(--main-color-rgb), 0.8) 30%,
            hsla(0, 0%, 69%, 0) 45%
        )
        border-box;
}

@keyframes radar {
    0% {
        transform: scale(1);
        box-shadow: 0 0 0 0 rgba(255, 223, 0, 0.6);
    }
    70% {
        transform: scale(0.95);
        box-shadow: 0 0 0 10px rgba(255, 223, 0, 0);
    }
    100% {
        transform: scale(1);
        box-shadow: 0 0 0 0 rgba(255, 223, 0, 0);
    }
}

.btn-learn {
    @apply inline-flex items-center justify-center rounded-full px-6 py-2 text-left text-[1.125rem] font-semibold text-[#fee333] shadow-[inset_1px_1px_2px_hsla(0,0%,100%,0.1)] transition-all duration-300 ease-in-out;
    position: relative;
    border: 0;
    cursor: pointer;
    text-decoration: none;
    background: rgba(254, 227, 51, 0.15);
    overflow: visible;
}

/* Gộp hiệu ứng clip-path + nền */
.btn-learn::before {
    content: '';
    position: absolute;
    inset: 0;
    z-index: -1;
    background: var(--clr-brand, #fee333);
    clip-path: xywh(0 0 0 100% round 0 1px 2% 3px);
    transition: clip-path 0.3s ease;
    border-radius: 999px;
    display: block;
}

.btn-learn:hover::before {
    clip-path: xywh(0 0 100% 100% round 0 1px 2% 3px);
}

/* Rocket animation */
.btn-learn::after {
    content: '🚀';
    position: absolute;
    font-size: 4rem;
    z-index: 50;
    bottom: 51%;
    left: 40%;
    transform: translateY(20px);
    opacity: 0;
    transition: all 0.25s ease;
}

.btn-learn:hover::after {
    transform: translateY(0);
    opacity: 5;
}

/* Icon bay lên */
.btn-learn:hover .icon {
    transform: translateY(-10px);
    opacity: 0;
    margin-left: -1.2ch;
}

.btn-learn .icon {
    transition: 0.25s ease;
    display: inline-block;
}

.btn-play {
    @apply inline-flex items-center justify-center rounded-full px-6 py-2 text-left text-[1.125rem] font-semibold text-[#fee333] shadow-[inset_1px_1px_2px_hsla(0,0%,100%,0.1)] transition-all duration-300 ease-in-out;
    position: relative;
    border: 0;
    cursor: pointer;
    text-decoration: none;
    background: rgba(254, 227, 51, 0.15);
    overflow: visible;
}

/* Gộp hiệu ứng clip-path + nền */
.btn-play::before {
    content: '';
    position: absolute;
    inset: 0;
    z-index: -1;
    background: var(--clr-brand, #fee333);
    clip-path: xywh(0 0 0 100% round 0 1px 2% 3px);
    transition: clip-path 0.3s ease;
    border-radius: 999px;
    display: block;
}

.btn-play:hover::before {
    clip-path: xywh(0 0 100% 100% round 0 1px 2% 3px);
}

/* Rocket animation */
.btn-play::after {
    content: '🕹️';
    position: absolute;
    font-size: 4rem;
    z-index: 50;
    bottom: 51%;
    left: 40%;
    transform: translateY(20px);
    opacity: 0;
    transition: all 0.25s ease;
}

.btn-play:hover::after {
    transform: translateY(0);
    opacity: 5;
}

/* Icon bay lên */
.btn-play:hover .icon {
    transform: translateY(-10px);
    opacity: 0;
    margin-left: -1.2ch;
}

.btn-play .icon {
    transition: 0.25s ease;
    display: inline-block;
}

.target-tile,
.leading-targets__item {
    text-decoration: none;
    border-radius: 5px;
    background: #27313a;
    position: relative;
    transition:
        opacity 0.25s ease,
        box-shadow 0.25s ease,
        transform 0.25s ease,
        z-index 0.25s 0.25s ease;

    background: linear-gradient(95.41deg, rgba(45, 55, 64, 0.5) 0%, rgba(39, 45, 52, 0.5) 101.76%);
    box-shadow:
        0px 8px 36px rgba(0, 0, 0, 0.1),
        0px 24px 74px rgba(0, 0, 0, 0.15),
        inset 1px 1px 3px rgba(255, 255, 255, 0.1);
    border-radius: 16px;
    padding: 0.6rem;
}

.shadow-link {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

.target-tile__image,
.leading-targets__image {
    display: block;
    width: 100%;
    border-radius: 5px 5px 0 0;
    border: 3px solid #111217;
    border-radius: calc(16px * 0.5);
    aspect-ratio: 4/3;
}
.target-tile--daily:not(.target-today .target-tile--daily):not(.target-primary .target-tile--daily) {
    width: 240px;
    background: transparent;
    box-shadow: none;
    border: 2px solid #27313a;
}

.target-tile:not(.target-tile--dummy):focus-within,
.target-tile:not(.target-tile--dummy):hover {
    transform: scale(1.05);
    transition:
        opacity 0.25s ease,
        box-shadow 0.25s ease,
        transform 0.25s ease,
        z-index 0s ease 0s;
    z-index: 2;
    opacity: 1;
}

.colors-list__color::after {
    content: '';
    position: absolute;
    background: var(--color);
    border-radius: 9999px;
    height: 1.2rem;
    width: 1.2rem;
    left: 0.6rem;
    top: 50%;
    transform: translateY(-50%);
    box-shadow:
        0 0 0 1px hsla(0, 0%, 100%, 0.25),
        0 0 0 2px rgba(0, 0, 0, 0.8);
    transition: 0.25s ease;
}
